$global-font-size: 16px;
$intro-width: 90%;
$intro-max-width-mobile: 420px;
$intro-max-width-tablet: 840px;
$intro-max-width-desktop: 840px;

$tablet: 'medium';
$desktop: 'large';

$breakpoints: (
	small: 0px,
	medium: 768px,
	large: 1280px,
	xlarge: 1440px,
	xxlarge: 1980px,
);

$grid-margin-gutters: (
	small: 20px,
	medium: 40px,
	large: 60px,
	xlarge: 60px,
);