$mobile-font-size: 14px;
$global-font-size: 16px;

$tablet: 'medium';
$desktop: 'xlarge';

$breakpoints: (
	small: 0px,
	medium: 768px,
	large: 1280px,
	xlarge: 1600x,
	xxlarge: 1980px,
);

$grid-margin-gutters: (
	small: 20px,
	medium: 40px,
	large: 60px,
	xlarge: 60px,
);

$portrait-info-media-query-height: 375px;

/* Indentations */
$intro-width: 90%;
$intro-max-width-mobile: 420px;
$intro-max-width-tablet: 840px;
$intro-max-width-desktop: 840px;

$mobile-component-indentation: 25px;
$tablet-desktop-component-indentation: 50px;

/* Z-Index Contexts */
$children-of-mobile-menu: burger, burger-trigger;
$children-of-mobile-menu-wrapper: background, list;
$children-of-page: mobile-menu, page-content-limit;
$route-intro-page: bg-image, bg-color, container, info;