@import '../../../../styles/meta/_index';

.persona {
	&__card {
		display: flex;
		flex-direction: column;
		border-radius: rem-calc(5px);

		@include breakpoint($tablet) {
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
		}
	}

	&__interests-wrapper-mobile-tablet {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__headline-group {
		display: block;
		width: 100%;
		text-align: center;

		@include themed {
			color: t($text);
		}

		&--primary {
			position: relative;
			display: flex;
			flex-direction: column;
			font-size: rem-calc(42px);
			margin-bottom: rem-calc(15px);
			padding-bottom: rem-calc(15px);

			@include themed {
				border-bottom: rem-calc(1px) solid t($border);
			}

			@include breakpoint(large) {
				flex-direction: row;
				font-size: rem-calc(50px);

				span:first-child {
					margin-right: rem-calc(20px);
				}
			}

			&::after {
				content: '&&';
				position: absolute;
				bottom: rem-calc(-11px);
				left: calc(50% - #{rem-calc(20x)});
				width: rem-calc(40px);
				height: rem-calc(20px);
				font-size: rem-calc(16);
				font-weight: bold;

				@include themed {
					background-color: t($bg);
					color: t($border);
				}

				@include breakpoint(large) {
					left: calc(50% - #{rem-calc(30px)});
				}

			}
		}

		&--secondary {
			display: flex;
			max-width: rem-calc(400px);
			margin: rem-calc(5px 0);
			font-size: rem-calc(18px);
			opacity: 0.5;

			@include breakpoint(large) {
				font-size: rem-calc(24px);
			}
		}

		&--evenly {
			justify-content: space-evenly;
		}

		&-space-between {
			justify-content: space-between;
		}
	}

	&__image-wrapper {
		display: flex;
		justify-content: center;
		padding: rem-calc(15px 0);
	}

	&__image {
		width: rem-calc(186px);
		height: rem-calc(186px);
		border-radius: 50%;
		background-color: $primary;
		filter: drop-shadow(2px 3px 4px #000000);

		@include themed {
			border: rem-calc(5px) solid $primary;
		}

		@include breakpoint($tablet) {
			width: rem-calc(248px);
			height: rem-calc(248px);
		}
	}
}