{
  "printWidth": 140,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": true,
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": true,
  "trailingComma": "es5"
}
