@import '../../../../styles/meta/_index';

.text-gradient {
	&__wrapper {
		width: 100%;
		margin: rem-calc(35px 0 60px 0);
		border-radius: rem-calc(5px);


		@include themed {
			color: t($text);
		}
	}

	&__headline {
		padding-bottom: rem-calc(15px);

		@include themed {
			border-bottom: rem-calc(1px) solid t($border);
		}
	}

	&__headline-dollar {
		color: $primary;
	}
}