@import '../../../../styles/meta/_index';

.media-text {
	&__wrapper {
		display: flex;
		align-items: center;

		&:not(last-child) {
			margin-bottom: rem-calc(50px)
		}
	}

	&__media {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 1.4;

		@include themed() {
			color: t($text);
		}
	}

	&__text-headline {
		font-family: Montserrat, serif;
		font-size: rem-calc(32px);
		margin-top: rem-calc(15px);
		margin-bottom: rem-calc(15px);
		letter-spacing: rem-calc(2px);

		@include themed() {
			color: t($text);
		}

		@include breakpoint($tablet) {
			font-size: rem-calc(32px);
		}

		@include breakpoint($desktop){
			margin-top: rem-calc(0);
		}
	}
}
