@import '../../../../styles/meta/_index';

.media-text {
	&__wrapper {
		display: flex;
		align-items: center;
		margin: rem-calc(30px -10px 0 -10px);

		@include breakpoint($tablet) {
			margin: rem-calc(50px -20px 0 -20px);
		}

		@include breakpoint($desktop) {
			margin: rem-calc(50px -30 0 -30);
		}
	}

	&__media {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 1.4;

		@include themed() {
			color: t($text);
		}
	}

	&__text-headline {
		font-family: Bangers, serif;
		font-size: rem-calc(40px);
		margin-top: rem-calc(15px);
		margin-bottom: rem-calc(5px);
		letter-spacing: rem-calc(2px);

		@include themed() {
			color: t($text);
		}

		@include breakpoint($tablet) {
			font-size: rem-calc(48px);
		}

		@include breakpoint($desktop){
			margin-top: rem-calc(0);
		}
	}
}
