@import '../../../../styles/meta/_index';

.menu {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: rem-calc($intro-width-desktop);
    margin-top: rem-calc(60px);
    opacity: 0;
    animation: menu-accent-fade 0.2s ease-in-out 4.8s forwards;

    @include themed() {
      color: t($text);
      border-left: rem-calc(1px) solid t($border);
      border-right: rem-calc(1px) solid t($border)
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    opacity: 0;
    animation: menu-fade 1s ease-in-out 5.4s forwards;
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    &:hover {
      cursor: pointer;

      .menu__item-icon {
        animation: menu-arrow-fade 1s ease-in-out infinite normal;
      }

      .menu__item-name {
        text-decoration: underline;
        transition: 0.3s;
      }
    }
  }

  &__item-name {
    font-family: Bangers, serif;
    font-size: rem-calc(100px);
    margin-right: rem-calc(45px);
    padding-top: rem-calc(5px);
    transition: 0.3s;

    @include themed() {
      color: t($text);
    }
  }

  &__item-icon {
    width: 0;
    height: 0;
    border-top: rem-calc(30px) solid transparent;
    border-bottom: rem-calc(30px) solid transparent;
    border-left: rem-calc(50px) solid $orange;
    transition: 0.5s;
  }
}

@keyframes menu-fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes menu-accent-fade {
  0%  { opacity: 1; }
  59% { opacity: 1; }
  60% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes menu-arrow-fade {
  0%  { border-left: rem-calc(50px) solid $primary }
  50% { border-left: rem-calc(50px) solid $accent }
  100% { border-left: rem-calc(50px) solid $primary }
}