@import '../../../styles/meta/_index';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem-calc(70px);

  @include breakpoint($tablet) {
    height: rem-calc(90px);
  }

  @include themed() {
    color: t($text);
    background-color: t($header-bg);
  }

  &__container {
    display: flex;
    align-items: center;
    width: rem-calc(1440px);
    margin: 0 rem-calc(20px);

    @include breakpoint($tablet) {
      margin: 0 rem-calc(20px);
    }

    @include breakpoint($tablet) {
      margin: 0 rem-calc(30px);
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: unset;
    width: 100%;

    @include breakpoint($tablet) {
      justify-content: unset;
    }
  }

  &__brand {
    @include breakpoint($tablet) {
      margin-right: rem-calc(25px);
      padding-right: rem-calc(35px);
      border-right: 1px solid #fff;

      @include themed() {
        border-right: 1px solid t($header-border);
      }

      @include breakpoint(large) {
        margin-right: rem-calc(35px);
        padding-right: rem-calc(45px);
      }
    }
  }



  &__nav {
    display: none;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  &__nav-item {
    margin-right: rem-calc(15px);
    font-weight: bold;
    font-size: rem-calc(18px);

    @include breakpoint(large) {
      font-size: rem-calc(24px);
      margin-right: rem-calc(25px);
    }

    @include themed() {
      color: t($header-text);
    }

    &:hover {
      border-bottom: rem-calc(3px) solid $primary;
    }
  }

  /* dark mdo switch */

  &__dark-mode-switch {
    display: none;
    align-items: center;
    white-space: nowrap;
    justify-self: flex-end;

    @include breakpoint($tablet) {
      display: flex;
    }
  }

  &__dark-mode-switch-label {
    margin-right: rem-calc(-30px);
    white-space: pre-wrap;

    @include breakpoint(large) {
      margin-right: rem-calc(10px);
      white-space: nowrap;
    }

    @include themed() {
      color: t($header-text);
    }
  }

  &__dark-mode-switch-button {
    display: block;
    width: rem-calc(32px);
    height: rem-calc(32px);
    border-radius: 50%;
    cursor: pointer;

    @include themed() {
      background-color: t($darkMode-switch-bg);
      box-shadow: rem-calc(0px 0px 4px 3px) t($darkMode-switch-bg);
    }
  }
}
