@import '../../../../styles/meta/_index';

.intro-copyright {
  display: block;
  width: $intro-width;
  max-width: rem-calc($intro-max-width-mobile);
  margin-top: rem-calc(20px);
  padding-bottom: rem-calc(10px);
  font-family: Bangers, serif;
  font-size: rem-calc(20px);
  text-align: center;
  opacity: 0;
  animation: menu-fade 0.5s ease-in-out 6s forwards;

  @include breakpoint($tablet) {
    font-size: rem-calc(25px);
    max-width: rem-calc($intro-max-width-desktop);
    margin-top: rem-calc(45px);
  }

  @include breakpoint($desktop) {
    font-size: rem-calc(30px);
    max-width: rem-calc($intro-max-width-desktop);
    margin-top: rem-calc(60px);
  }

  @include themed() {
    color: t($text);
    border-bottom: rem-calc(1px) solid t($border);
  }
}

@keyframes copyright-fade {
  from { opacity: 0;}
  to { opacity: 1 ; }
}
