@import '../../../styles/meta/_index';

.footer {
	width: 100%;
	margin-top: rem-calc($mobile-component-indentation);
	padding: rem-calc($mobile-component-indentation 0);
	text-align: center;

	@include themed() {
		color: t($text);
		border-top: rem-calc(1px) solid t($border);
	}

	@include breakpoint($tablet) {
		margin-top: rem-calc($tablet-desktop-component-indentation);
		padding: rem-calc($tablet-desktop-component-indentation 0);
	}
}
