@import '../../../../styles/meta/_index';

.skills {
	&__gradient-box {
		width: rem-calc(290px);
		height: rem-calc(380px);
		padding: rem-calc(15px);

		@include themed {
			color: t($text);
			background: linear-gradient(7.7deg, t($about-skill-gradient) 0%, rgba(196, 196, 196, 0) 87.83%);
		}

		@include breakpoint($tablet) {
			width: rem-calc(305px);
			height: rem-calc(430px);
		}

		@include breakpoint(content) {
			width: rem-calc(440px);
			height: rem-calc(512px);
		}
	}

	&__headline {
		width: 100%;
		margin-top: 0;
		margin-bottom: rem-calc(30px);
		font-size: rem-calc(32px);
		font-weight: bold;
		text-align: center;
	}

	&__tech {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__tech-group {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-size: rem-calc(18px);

		span {
			width: rem-calc(115px);
			margin-left: rem-calc(15px);
			font-weight: bold;
			font-size: rem-calc(18px);
			text-align: left;

			@include breakpoint($tablet) {
				margin-left: rem-calc(25px);
			}

			@include breakpoint(content) {
				margin-left: rem-calc(60px);
			}
		}

		&:not(last-child) {
			margin-bottom: rem-calc(15px);
		}
	}

	&__tech-group-icons {
		display: flex;
		justify-content: center;
		width: rem-calc(90px);

		@include breakpoint($tablet) {
			width: rem-calc(110px);
		}

		@include breakpoint(content) {
			width: rem-calc(128px);
		}

		img:nth-child(2) {
			margin-left: rem-calc(10px);
		}

		img {
			height: rem-calc(40px);

			@include breakpoint($tablet) {
				height: rem-calc(50px);
			}

			@include breakpoint(content) {
				height: rem-calc(64px);
			}

		}
	}
}

.splide__arrows, .splide__pagination {
	z-index: z($z-index, about-me-skills-slider-controls);

	@include breakpoint($tablet) {
		display: none !important;
	}
}