@import '../../../../styles/meta/_index';

.title {
  &__title-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: $intro-width;
    max-width: rem-calc($intro-max-width-mobile);
    margin-top: 0;

    @include breakpoint($tablet) {
      max-width: rem-calc($intro-max-width-desktop);
    }
  }

  &__title {
    display: inline-block;
    justify-content: center;
    padding: rem-calc(15px 0 50px 0);
    animation: fadein 1s ease-in-out forwards;

    @include breakpoint($tablet) {
      padding: rem-calc(30px 0 80px 0);
    }
  }

  &__motto {
    position: absolute;
    right: rem-calc(7px);
    bottom: rem-calc(7px);
    opacity: 0;
    animation: motto-blink 0.2s linear 3.3s;
    animation-fill-mode: forwards;

    @include themed() {
      color: t($text);
    }

    @include breakpoint($tablet) {
      right: rem-calc(16px);
      bottom: rem-calc(13px);
      font-size: rem-calc(24px);
    }

    @include breakpoint($desktop) {
      right: rem-calc(16px);
      bottom: rem-calc(13px);
      font-size: rem-calc(28px);
    }
  }

  &__accent-line {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    @include themed {
      background-color: t($intro-border);
    }

    &--top-left-white {
      top: 0;
      left: 0;
      animation: line-fade-top-left 2s ease-in-out 1s forwards;

      @include themed() {
        border-top: rem-calc(1px) solid t($intro-border);
        border-left: rem-calc(1px) solid t($intro-border);
      }
    }

    &--bottom-right-white {
      right: 0;
      bottom: 0;
      animation: line-fade-bottom-right 2s ease-in-out 1s forwards;

      @include themed() {
        border-right: rem-calc(1px) solid t($intro-border);
        border-bottom: rem-calc(1px) solid t($intro-border);
      }
    }
  }
}

/* Animations */
@keyframes fadein {
  from { opacity: 0; padding-top: rem-calc(0px);}
  to   { opacity: 1; padding-top: rem-calc(15px); }
}

@include breakpoint($tablet) {
  @keyframes fadein {
    from { opacity: 0; padding-top: rem-calc(0px);}
    to   { opacity: 1; padding-top: rem-calc(30px); }
  }
}

@keyframes line-fade-top-left {
  0%  { width: 0.25%; height: 0.75%; top: 100%; opacity: 1; }
  50% { width: 0.25%; height: 0.75%; top: 0; opacity: 1;}
  51% { width: 0.25%; height: 0.75%; top: 0; opacity: 1; background-color: transparent}
  100% { width: 30%; height: 100%; opacity: 1; background-color: transparent}
}

@keyframes line-fade-bottom-right {
  0%  { width: 0.25%; height: 0.75%; bottom: 100%; opacity: 1; }
  50% { width: 0.25%; height: 0.75%; bottom: 0; opacity: 1; }
  51% { width: 0.25%; height: 0.75%; bottom: 0; opacity: 1; background-color: transparent}
  100% { width: 30%; height: 100%; opacity: 1; background-color: transparent}
}

@keyframes motto-blink {
  0%  { opacity: 1; }
  59% { opacity: 1; }
  60% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

/*
@keyframes title-shift {
  from { margin-top: 0 }
  to { margin-top: 0 }
}
*/
