a,
.a {
  text-decoration: none;

  @include themed {
    color: t($text);
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    // We use !important here because when using the class "a" and defining another color
    // for the link (e.g. gray) this also overrides the active state. And we don't want to
    // add this definition every time we need a button as link in another default color.
    color: $primary !important;
  }
}