@import "~foundation-sites/scss/foundation";
@import 'styles/meta/_index';
@import "styles/meta/theme";
@import "styles/base/normalization/normalize";
@import "styles/base/normalization/sanitize";
@import "styles/base/typography/base";
@import "styles/base/typography/links";
@import "styles/base/components/dark-mode";
@import "styles/base/images";

@include foundation-visibility-classes();
@include foundation-xy-grid-classes(
	$base-grid: true,
	$margin-grid: true,
	$padding-grid: true,
	$block-grid: true,
	$collapse: true,
	$offset: true,
	$vertical-grid: false,
	$frame-grid: false
);
@include foundation-flex-classes;

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
