@import '../../../styles/meta/_index';

.page {
	height: 100vh;

	@include themed() {
		background-color: t($bg);
	}

	&__indentation {
		width: rem-calc(1440px);
		margin: 0 auto;
	}
}
