@import '../../../styles/meta/_index';

.page {
	@include themed() {
		background-color: t($bg);
	}

	&__limit {
		z-index: 0;
		max-width: rem-calc(1440px);
		margin: 0 auto;
		overflow: visible;
	}

	&__indentation {
		margin: 0 rem-calc(20px);

		@include breakpoint($tablet) {
			margin: 0 rem-calc(40px);
		}

		@include breakpoint($tablet) {
			margin: 0 rem-calc(60px);
		}
	}
}
